/* Resetting default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Main content styles */
.main-content {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
}

input[type="text"],
input[type="email"],
textarea {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}

textarea {
    height: 150px; /* Adjust height for textarea */
}

input[type="submit"] {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-top: 10px;
}

.success {
    color: green;
    margin-top: 10px;
}
